# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.VROrchestrator.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Repos\uni\VROrchestrator\.idea\.idea.VROrchestrator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
